<div #mediaContainer (mouseenter)="displayControlBar(true);resetTimer();playerHover= true;"
     (mouseover)="playerHover= true;focus()"
     (mouseout)="displayControlBar(false);playerHover= false"
     (mousemove)="resetTimer();displayControlBar(true);focus();playerHover= true;" (load)="startTimer()"
     (contextmenu)="onContextMenu($event)"
     class="media-player aspect-ratio-{{ratio}}"
     (keydown)="emitKeyDownEvent($event)" (keyup)="emitKeyUpEvent()" (onresize)="handleWindowResize()"
     [ngClass]="{'pinned' : pinned , 'pinnedControlbar' : pinnedControlbar,
'amalia-player-bg-color1' :videoPoster && posterBackgound['amalia-player-bg-color1'],
'amalia-primary-color' :videoPoster && posterBackgound['amalia-primary-color'],
'amalia-secondary-color':videoPoster && posterBackgound['amalia-secondary-color']}" tabindex="0"
     (click)="controlClicked($event)">
    <video #video [hidden]="state != PlayerState.INITIALIZED" class="player" preload="metadata" [poster]="videoPoster"
    ></video>
    <img #previewThumbnail class="preview-thumbnail"
         [hidden]="!enablePreviewThumbnail"
         [src]="thumbnailBlobVideo" alt="video-preview" fetchPriority="high" importance="high"/>
    <div *ngIf="inLoading" class="loader">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div *ngIf="inError" class="error">
        <svg class="amalia-svg-error-size icon">
            <use [attr.xlink:href]="'assets/svgs/symbol/svg/sprite.symbol.svg#error'"></use>
        </svg>
        <p>Une erreur technique est survenue.<br>{{ errorMessage }}</p>
    </div>
</div>

<div #contextMenu (mouseleave)="contextMenuState=false" [hidden]="!contextMenuState" class="context-menu">
    <ul>
        <li>Amalia-V{{ version }}</li>
    </ul>
</div>
<ng-content></ng-content>

