@import '../core/styles/typo';
@import '../core/styles/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: $amalia-font-family !important;
  user-select: none;
  z-index: $amalia-default-z-index;
  padding: 0;
  margin: 0;
  background-color: $amalia-player-bg-color;
  .media-player {
    position: relative;
    height: 100%;
    z-index: $amalia-default-z-index;
    margin: 0 auto 0;
    &.pinned {
      height: calc(100% - 106px);
      position: inherit;
      video.player {
        position: relative;
        height: 100% !important;
      }
    }
    &.pinnedControlbar {
      height: calc(100% - 63px);
      position: inherit;
      video.player {
        position: relative;
        height: 100% !important;
      }
    }

    video.player {
      position: absolute;
      top: 0;
      left: 0;
      z-index: $amalia-default-z-index;
      width: 100%;
      height: 100%;
    }
  }

  .preview-thumbnail {
    position: absolute;
    z-index: 3;
    //background-color: black;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .context-menu {
    position: absolute;
    top: 0;
    background-color: $amalia-ctrl-bar-bg-color;
    z-index: $amalia-context-menu-z-index;
    font-family: $amalia-font-family !important;
    font-size: 11px;
    color: white;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 10px 10px 10px 15px;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  .error, .loader  {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $amalia-player-bg-color2;
    line-height: 20px;
    color: $amalia-player-bg-color;
    font-size: 20px;
    font-weight: bold;
    z-index: $amalia-error-z-index;
    text-align: center;
    font-family: $amalia-font-family !important;
    .amalia-svg-error-size {
        color: $amalia-primary-color;
    }
    svg {
      margin-top: 10%;
    }
  }
  .loader {
    .spinner {
      width: 100%;
      height: 100%;
      // margin-top: 10%;
      &:after {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #00b0e8;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        content: " ";
        margin: 0 auto;
        display: block;
        /*width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 6px solid #00b0e8;
        border-color: #00b0e8 transparent #00b0e8 transparent;
        animation: spin 1.2s linear infinite;*/
      }
    }
  }

  .tooltip {
    position: absolute;
    // z-index: $amalia-tooltip-z-index;
    display: block;
    margin: 5px;
    word-wrap: break-word;
    opacity: 0;

    &.show {
      opacity: $amalia-tooltip-opacity;
    }

    .tooltip-arrow {
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;

      &::before {
        position: absolute;
        content: "";
        border-color: transparent;
        border-style: solid;
      }
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}


