@import '../core/styles/typo';
@import '../core/styles/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: $amalia-font-family;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .media-player {
    width: inherit;
    height: inherit;

    .player {
      position: relative;
      width: inherit;
      height: inherit;
      background-color: $amalia-player-bg-color;
    }

    .loader {
      color: white;
      position: absolute;
      z-index: 1;
      text-align: center;
      width: 100%;
      height: 100%;
      top: 50%;
      font-size: 100px;
      margin-top: -50px;
      background-color: #2b91af;
    }

    .error {
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 19px;
      font-size: 14px;
    }

    .tooltip {
      position: absolute;
      z-index: $amalia-tooltip-z-index;
      display: block;
      margin: 5px;
      word-wrap: break-word;
      opacity: 0;

      &.show {
        opacity: $amalia-tooltip-opacity;
      }

      .tooltip-arrow {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;

        &::before {
          position: absolute;
          content: "";
          border-color: transparent;
          border-style: solid;
        }
      }
    }
  }

}
