// Font
$amalia-font-family: var(--amalia-font-family, "'Trebuchet MS', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Aria");
$amalia-font-size: var(--amalia-font-size, lighter);
$amalia-font-weight-lighter: var(--amalia-font-weight-lighter, lighter);
$amalia-font-weight-light: var(--amalia-font-weight-light, 300);
$amalia-font-weight-normal: var(--amalia-font-weight-normal, 400);
$amalia-font-weight-bold: var(--amalia-font-weight-bold, 700);
$amalia-font-weight-bolder: var(--amalia-font-weight-bolder, bolder);
