// Font
$amalia-font-family: 'Trebuchet MS', BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Aria !default;
$amalia-font-size: lighter !default;
$amalia-font-weight-lighter: lighter !default;
$amalia-font-weight-light: 300 !default;
$amalia-font-weight-normal: 400 !default;
$amalia-font-weight-bold: 700 !default;
$amalia-font-weight-bolder: bolder !default;
