// Font
$amalia-font-family: var(--amalia-font-family, 'Lato');
$amalia-font-size: var(--amalia-font-size, 1rem);
$amalia-font-weight-lighter: var(--amalia-font-weight-lighter, lighter);
$amalia-font-weight-light: var(--amalia-font-weight-light, 300);
$amalia-font-weight-normal: var(--amalia-font-weight-normal, 400);
$amalia-font-weight-bold: var(--amalia-font-weight-bold, 700);
$amalia-font-weight-bolder: var(--amalia-font-weight-bolder, bolder);
$amalia-title-size: var(--amalia-title-size, 18px);
$amalia-body1-size: var(--amalia-body1-size, 18px);
$amalia-body2-size: var(--amalia-body2-size, 16px);
$amalia-body3-size: var(--amalia-body3-size, 14px);
$amalia-body4-size: var(--amalia-body4-size, 12px);
