// Colors
$amalia-primary: #0086B1 !default;
$amalia-secondary: #34495E !default;
$amalia-success: #20CC61 !default;
$amalia-info: #D0B840 !default;
$amalia-warning: #F2711B !default;
$amalia-bg: #E5E5E5 !default;

$amalia-tooltip-z-index: 1070 !default;
$amalia-tooltip-opacity: .9 !default;
