// Colors
$amalia-primary-color: var(--amalia-primary-color, #0086B1);
$amalia-secondary-color: var(--amalia-secondary-color, #34495E);
$amalia-success-color: var(--amalia-success-color, #20CC61);
$amalia-info-color: var(--amalia-info-color, #D0B840);
$amalia-warning-color: var(--amalia-warning-color, #F2711B);
$amalia-bg-color: var(--amalia-bg-color, rgba(34, 34, 34, 0.9));

$amalia-player-bg-color: var(--amalia-player-bg-color, black);
$amalia-player-bg-color1: var(--amalia-player-bg-color1, white);
$amalia-player-bg-color2: var(--amalia-player-bg-color2, #E5E5E5);
$amalia-default-z-index: var(--amalia-default-z-index, 2);
$amalia-volume-bar-z-index: var(--amalia-volume-bar-z-index, 3);
$amalia-context-menu-z-index: var(--amalia-volume-bar-z-index, 5);
$amalia-tooltip-z-index: var(--amalia-tooltip-z-index, 4);
$amalia-tooltip-opacity: var(--amalia-tooltip-opacity, .9);
$amalia-error-z-index: var(--amalia-error-z-index, 6);
$amalia-volume-slider-bg: var(--amalia-volume-slider-bg, rgb(255, 255, 255, 0.4));

$amalia-plugin-transcription-bg: var(--amalia-plugin-transcription-bg, #555);
$amalia-plugin-transcription-bg-hover: var(--amalia-plugin-transcription-bg-hover, #dfeef3);
$amalia-plugin-transcription-header: var(--amalia-plugin-transcription-header, #0086B1);
$amalia-plugin-transcription-progress-bar: var(--amalia-plugin-transcription-progress-bar, #0086B1);
$amalia-plugin-transcription-tc: var(--amalia-plugin-transcription-tc, #727070);
$amalia-plugin-transcription-tc-hover: var(--amalia-plugin-transcription-tc-hover, #0086B1);
$amalia-plugin-transcription-search: var(--amalia-plugin-transcription-search, #DDDDDD);
$amalia-plugin-transcription-bg-search: var(--amalia-plugin-transcription-bg-search, #F2F5F9);
$amalia-plugin-transcription-input-border: var(--amalia-plugin-transcription-input-border, #DDDDDD);
$amalia-plugin-transcription-search-icons: var(--amalia-plugin-transcription-search-icons, #0085B1);
$amalia-plugin-transcription-auto-scroll: var(--amalia-plugin-transcription-auto-scroll, #0086B1);
$amalia-plugin-subtitle-bg: var(--amalia-plugin-subtitle-bg, rgba(34, 34, 34, 0.8));
$amalia-plugin-subtitle-color: var(--amalia-plugin-subtitle-color, rgb(255, 255, 255));
$amalia-plugin-subtitle-font-size: var(--amalia-plugin-subtitle-font-size, 1rem);
$amalia-plugin-subtitle-z-index: var(--amalia-plugin-subtitle-z-index, 3);
$amalia-plugin-thumbnail-z-index: var(--amalia-plugin-thumbnail-z-index, 3);
$amalia-timebar-z-index: var(--amalia-timebar-z-index, 3);

//Video background
$amalia-video-bg-z-index: var(--amalia-video-bg-z-index, 1);

// Control bar back
$amalia-ctrl-bar-z-index: var(--amalia-ctrl-bar-z-index, 2);
$amalia-ctrl-bar-bg-color: var(--amalia-ctrl-bar-bg-color, rgba(34, 34, 34, 0.9));
$amalia-ctrl-bar-btn-hover: var(--amalia-ctrl-bar-btn-hover, #0086B1);
$backgroundColor: #2e2e2e;
$amalia-border-buttons-bg-color: var(--amalia-border-buttons-bg-color, #1A0C0C);
// Playback rate slider
$amalia-ctrl-bar-pslider-bg-color: var(--amalia-ctrl-bar-pslider-bg-color, #6c6c6c);
$amalia-ctrl-bar-pslider-bg-color-hover: var(--amalia-ctrl-bar-pslider-bg-color, #bebebe);
//$amalia-ctrl-bar-pslider-bg-selected: var(--amalia-ctrl-bar-pslider-bg-selected, #0086B1);


$amalia-plugin-storyboard-thumbnail-mw: var(--amalia-plugin-storyboard-thumbnail-mw, 220px);
$amalia-plugin-storyboard-thumbnail-mh: var(--amalia-plugin-storyboard-thumbnail-mh, 143px);
$amalia-plugin-storyboard-thumbnail-lw: var(--amalia-plugin-storyboard-thumbnail-lw, 300px);
$amalia-plugin-storyboard-thumbnail-lh: var(--amalia-plugin-storyboard-thumbnail-lh, 188px);

$amalia-plugin-storyboard-label-bg: var(--amalia-plugin-storyboard-label-bg, white);
$amalia-plugin-storyboard-label-color: var(amalia-plugin-storyboard-label-color, #34495E);
$amalia-plugin-storyboard-label-hover-color: var(--amalia-plugin-storyboard-label-hover-color, rgba(0, 0, 0, 0.2));
$amalia-plugin-storyboard-box-color: var(--amalia-plugin-storyboard-box-color, #0086B1);
$amalia-plugin-storyboard-box-border-color: var(--amalia-plugin-storyboard-box-border-color, #dddddd);
$amalia-plugin-storyboard-height: var(--amalia-plugin-storyboard-height, inherit);
$amalia-plugin-storyboard-bg-color: var(--amalia-plugin-storyboard-bg-color, #D9D9D9);

// Police font-family: ;
$amalia-font-family-trebuchet-ms: var(--amalia-font-family-trebuchet-ms, "Trebuchet MS");
$amalia-font-family-lato: var(--amalia-font-family-lato, "Lato");

//Histogram

$amalia-plugin-histograms-bg: var(--amalia-plugin-histogram-bg, #6c6c6c);
$amalia-plugin-histogram-pinned: var(--amalia-plugin-histogram-pinned, calc(100% - 106px));
$amalia-plugin-histogram-pinned-control-bar: var(--amalia-plugin-histogram-pinned-control-bar, calc(100% - 63px));
$amalia-plugin-histogram-slider-border: var(--amalia-plugin-histogram-slider-border, #0086B1);
$amalia-plugin-histogram-slider-bg: var(--amalia-plugin-histogram-slider-bg, rgba(255, 255, 255, 0.4));
$amalia-plugin-histogram-bg: var(--amalia-plugin-histogram-bg, #80C2D8);
$amalia-plugin-histogram-zoom-bg: var(--amalia-plugin-histogram-zoom-bg, #b2dae7);
$amalia-plugin-histogram-zindex: var(--amalia-plugin-histogram-zindex, 1);


// Timeline
$amalia-plugin-timeline-border-color: var(--amalia-plugin-timeline-border-color, #DDDDDD);
$amalia-plugin-timeline-bg-color: var(--amalia-plugin-timeline-bg-color, #FFFFFF);
$amalia-plugin-timeline-primary-color: var(--amalia-plugin-timeline-primary-color, #0086B1);
$amalia-plugin-timeline-secondary-color: var(--amalia-plugin-timeline-secondary-color, #34495E);
$amalia-plugin-timeline-actions-border-color: var(--amalia-plugin-timeline-actions-border-color, #727070);
$amalia-plugin-timeline-actions-tc-color: var(--amalia-plugin-timeline-actions-tc-color, #727070);
$amalia-plugin-timeline-font-color: var(--amalia-plugin-timeline-font-color, #FFFFFF);
$amalia-plugin-timeline-header-bg-color: var(--amalia-plugin-timeline-header-bg-color, #F2F5F9);
$amalia-plugin-timeline-header-font-color: var(--amalia-plugin-timeline-header-font-color, #222222);
$amalia-plugin-timeline-segment-bg-color: var(--amalia-plugin-timeline-segment-bg-color, #F3F3F3);
$amalia-plugin-timeline-text-founded-color: var(--amalia-plugin-timeline-text-founded-color, #D8D8D8);




/**
 * global animation
 * $properties transition
 * $param : Time duration (s), function
 */
@mixin transition($property:all, $time-duration:1s, $function-style:ease-out) {

  -webkit-transition: $property $time-duration $function-style;
  -moz-transition: $property $time-duration $function-style;
  -ms-transition: $property $time-duration $function-style;
  -o-transition: $property $time-duration $function-style;
  transition: $property $time-duration $function-style;
}
