// Colors
$amalia-primary-color: var(--amalia-primary-color, #0086B1);
$amalia-secondary-color: var(--amalia-secondary-color, #34495E);
$amalia-success-color: var(--amalia-success-color, #20CC61);
$amalia-info-color: var(--amalia-info-color, #D0B840);
$amalia-warning-color: var(--amalia-warning-color, #F2711B);
$amalia-bg-color: var(--amalia-bg-color, rgba(34, 34, 34, 0.9));

$amalia-player-bg-color: var(--amalia-player-bg-color, black);
$amalia-player-bg-color1: var(--amalia-player-bg-color1, white);
$amalia-player-bg-color2: var(--amalia-player-bg-color2, #E5E5E5);
$amalia-default-z-index: var(--amalia-default-z-index, 2);
$amalia-volume-bar-z-index: var(--amalia-volume-bar-z-index, 3);
$amalia-context-menu-z-index: var(--amalia-volume-bar-z-index, 5);
$amalia-tooltip-z-index: var(--amalia-tooltip-z-index, 4);
$amalia-tooltip-opacity: var(--amalia-tooltip-opacity, .9);
$amalia-error-z-index: var(--amalia-error-z-index, 6);
$amalia-volume-slider-bg: var(--amalia-volume-slider-bg, rgb(255, 255, 255, 0.4));

$amalia-plugin-transcription-bg: var(--amalia-plugin-transcription-bg, #555);
$amalia-plugin-transcription-bg-hover: var(--amalia-plugin-transcription-bg-hover, #dfeef3);
$amalia-plugin-transcription-header: var(--amalia-plugin-transcription-header, #0086B1);
$amalia-plugin-transcription-progress-bar: var(--amalia-plugin-transcription-progress-bar, #0086B1);
$amalia-plugin-transcription-tc: var(--amalia-plugin-transcription-tc, #727070);
$amalia-plugin-transcription-tc-hover: var(--amalia-plugin-transcription-tc-hover, #0086B1);
$amalia-plugin-transcription-search: var(--amalia-plugin-transcription-search, #DDDDDD);
$amalia-plugin-transcription-bg-search: var(--amalia-plugin-transcription-bg-search, #F2F5F9);
$amalia-plugin-transcription-input-border: var(--amalia-plugin-transcription-input-border, #DDDDDD);
$amalia-plugin-transcription-search-icons: var(--amalia-plugin-transcription-search-icons, #0085B1);
$amalia-plugin-transcription-auto-scroll: var(--amalia-plugin-transcription-auto-scroll, #0086B1);
$amalia-plugin-subtitle-bg: var(--amalia-plugin-subtitle-bg, rgba(34, 34, 34, 0.8));
$amalia-plugin-subtitle-color: var(--amalia-plugin-subtitle-color, rgb(255, 255, 255));
$amalia-plugin-subtitle-font-size: var(--amalia-plugin-subtitle-font-size, 1rem);
$amalia-plugin-subtitle-z-index: var(--amalia-plugin-subtitle-z-index, 3);
$amalia-plugin-thumbnail-z-index: var(--amalia-plugin-thumbnail-z-index, 3);
$amalia-timebar-z-index: var(--amalia-timebar-z-index, 3);
// Control bar back
$amalia-ctrl-bar-z-index: var(--amalia-ctrl-bar-z-index, 2);
$amalia-ctrl-bar-bg-color: var(--amalia-ctrl-bar-bg-color, rgba(34, 34, 34, 0.9));
$amalia-ctrl-bar-btn-hover: var(--amalia-ctrl-bar-btn-hover, #0086B1);
$backgroundColor: #2e2e2e;
$amalia-border-buttons-bg-color: var(--amalia-border-buttons-bg-color, #1A0C0C);
// Playback rate slider
$amalia-ctrl-bar-pslider-bg-color: var(--amalia-ctrl-bar-pslider-bg-color, #6c6c6c);
$amalia-ctrl-bar-pslider-bg-color-hover: var(--amalia-ctrl-bar-pslider-bg-color, #bebebe);
//$amalia-ctrl-bar-pslider-bg-selected: var(--amalia-ctrl-bar-pslider-bg-selected, #0086B1);


$amalia-plugin-storyboard-thumbnail-sw: var(--amalia-plugin-storyboard-thumbnail-sw, 48px);
$amalia-plugin-storyboard-thumbnail-sh: var(--amalia-plugin-storyboard-thumbnail-sh, 48px);
$amalia-plugin-storyboard-thumbnail-mw: var(--amalia-plugin-storyboard-thumbnail-mw, 74px);
$amalia-plugin-storyboard-thumbnail-mh: var(--amalia-plugin-storyboard-thumbnail-mh, 74px);
$amalia-plugin-storyboard-thumbnail-lw: var(--amalia-plugin-storyboard-thumbnail-lw, 156px);
$amalia-plugin-storyboard-thumbnail-lh: var(--amalia-plugin-storyboard-thumbnail-lh, 156px);
$amalia-plugin-storyboard-thumbnail-sw-l: var(--amalia-plugin-storyboard-thumbnail-sw-l, 99px);
$amalia-plugin-storyboard-thumbnail-sh-l: var(--amalia-plugin-storyboard-thumbnail-sh-l, 99px);
$amalia-plugin-storyboard-thumbnail-mw-l: var(--amalia-plugin-storyboard-thumbnail-mw-l, 156px);
$amalia-plugin-storyboard-thumbnail-mh-l: var(--amalia-plugin-storyboard-thumbnail-mh-l, 156px);
$amalia-plugin-storyboard-thumbnail-lw-l: var(--amalia-plugin-storyboard-thumbnail-lw-l, 328px);
$amalia-plugin-storyboard-thumbnail-lh-l: var(--amalia-plugin-storyboard-thumbnail-lh-l, 328px);
$amalia-plugin-storyboard-label-bg: var(--amalia-plugin-storyboard-label-bg, white);
$amalia-plugin-storyboard-label-color: var(amalia-plugin-storyboard-label-color, #34495E);
$amalia-plugin-storyboard-label-hover-color: var(--amalia-plugin-storyboard-label-hover-color, rgba(0,0,0,0.2));
$amalia-plugin-storyboard-box-color: var(--amalia-plugin-storyboard-box-color, #0086B1);
$amalia-plugin-storyboard-box-border-color: var(--amalia-plugin-storyboard-box-border-color, #dddddd);
$amalia-plugin-storyboard-bg-color: var(--amalia-plugin-storyboard-bg-color, #F2F5F9);

/**
 * global animation
 * $properties transition
 * $param : Time duration (s), function
 */
@mixin transition($property:all, $time-duration:1s, $function-style:ease-out) {

  -webkit-transition: $property $time-duration $function-style;
  -moz-transition: $property $time-duration $function-style;
  -ms-transition: $property $time-duration $function-style;
  -o-transition: $property $time-duration $function-style;
  transition: $property $time-duration $function-style;
}
