// Colors
$amalia-primary-color: var(--amalia-primary-color, #0086B1);
$amalia-secondary-color: var(--amalia-secondary-color, #34495E);
$amalia-success-color: var(--amalia-success-color, #20CC61);
$amalia-info-color: var(--amalia-info-color, #D0B840);
$amalia-warning-color: var(--amalia-warning-color, #F2711B);
$amalia-bg-color: var(--amalia-bg-color, rgba(34, 34, 34, 0.9));

$amalia-player-bg-color: var(--amalia-player-bg-color, black);
$amalia-player-bg-color1: var(--amalia-player-bg-color1, white);
$amalia-player-bg-color2: var(--amalia-player-bg-color2, #E5E5E5);
$amalia-default-z-index: var(--amalia-default-z-index, 2);
$amalia-volume-bar-z-index: var(--amalia-volume-bar-z-index, 3);
$amalia-context-menu-z-index: var(--amalia-volume-bar-z-index, 5);
$amalia-tooltip-z-index: var(--amalia-tooltip-z-index, 4);
$amalia-tooltip-opacity: var(--amalia-tooltip-opacity, .9);
$amalia-error-z-index: var(--amalia-error-z-index, 6);
$amalia-volume-slider-bg: var(--amalia-volume-slider-bg, rgb(255, 255, 255,0.4));

$amalia-plugin-transcription-bg: var(--amalia-plugin-transcription-bg, #555);
$amalia-plugin-transcription-bg-hover: var(--amalia-plugin-transcription-bg-hover, rgba(85, 85, 85, 0.7));
$amalia-plugin-transcription-header: var(--amalia-plugin-transcription-header, #0086B1);
$amalia-plugin-transcription-progress-bar: var(--amalia-plugin-transcription-progress-bar, #0086B1);
$amalia-plugin-transcription-tc: var(--amalia-plugin-transcription-tc, #727070);
$amalia-plugin-transcription-tc-hover: var(--amalia-plugin-transcription-tc-hover, #0086B1);
$amalia-plugin-transcription-auto-scroll: var(--amalia-plugin-transcription-auto-scroll, #0086B1);
$amalia-plugin-transcription-separator: var(--amalia-plugin-transcription-separator, '>');
$amalia-plugin-subtitle-bg: var(--amalia-plugin-subtitle-bg, rgba(34, 34, 34, 0.8));
$amalia-plugin-subtitle-color: var(--amalia-plugin-subtitle-color, rgb(255, 255, 255));

// Mixin for ratio dimensions
@mixin viewportRatio($x, $y) {
  padding-top: ($y / $x) * 100%;
  position: relative;
}

// Control bar back
$amalia-ctrl-bar-bg-color: var(--amalia-ctrl-bar-bg-color, rgba(34, 34, 34, 0.9));
$amalia-ctrl-bar-btn-hover: var(--amalia-ctrl-bar-btn-hover, invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%));
$backgroundColor: #2e2e2e;
// Playback rate slider
$amalia-ctrl-bar-pslider-bg-color: var(--amalia-ctrl-bar-pslider-bg-color, #6c6c6c);
$amalia-ctrl-bar-pslider-bg-color-hover: var(--amalia-ctrl-bar-pslider-bg-color, #bebebe);
$amalia-ctrl-bar-pslider-bg-selected: var(--amalia-ctrl-bar-pslider-bg-selected, #0086B1);


/**
 * global animation
 * $properties transition
 * $param : Time duration (s), function
 */
@mixin transition($property:all, $time-duration:1s, $function-style:ease-out) {

  -webkit-transition: $property $time-duration $function-style;
  -moz-transition: $property $time-duration $function-style;
  -ms-transition: $property $time-duration $function-style;
  -o-transition: $property $time-duration $function-style;
  transition: $property $time-duration $function-style;
}
