// Colors
$amalia-primary-color: var(--amalia-primary-color, #0086B1);
$amalia-secondary-color: var(--amalia-secondary-color, #34495E);
$amalia-success-color: var(--amalia-success-color, #20CC61);
$amalia-info-color: var(--amalia-info-color, #D0B840);
$amalia-warning-color: var(--amalia-warning-color, #F2711B);
$amalia-bg-color: var(--amalia-bg-color, #E5E5E5);

$amalia-player-bg-color: var(--amalia-player-bg-color, black);
$amalia-tooltip-z-index: var(--amalia-tooltip-z-index, 1070);
$amalia-tooltip-opacity: var(--amalia-tooltip-opacity, .9);
