.svg-backward-dims {
	width: 35px;
	height: 24px;
}

.svg-backward-10seconds-dims {
	width: 23px;
	height: 22px;
}

.svg-backward-frame-dims {
	width: 24px;
	height: 24px;
}

.svg-backward-second-dims {
	width: 19px;
	height: 22px;
}

.svg-blue-pause-dims {
	width: 32px;
	height: 32px;
}

.svg-blue-play-dims {
	width: 32px;
	height: 32px;
}

.svg-checked-dims {
	width: 26px;
	height: 26px;
}

.svg-clear-dims {
	width: 25px;
	height: 24px;
}

.svg-compress-dims {
	width: 24px;
	height: 24px;
}

.svg-down-dims {
	width: 12px;
	height: 7px;
}

.svg-download-dims {
	width: 25px;
	height: 25px;
}

.svg-drag-drop-dims {
	width: 10px;
	height: 16px;
}

.svg-error-dims {
	width: 48px;
	height: 48px;
}

.svg-forward-dims {
	width: 35px;
	height: 24px;
}

.svg-forward-10seconds-dims {
	width: 24px;
	height: 22px;
}

.svg-forward-frame-dims {
	width: 22px;
	height: 24px;
}

.svg-forward-second-dims {
	width: 19px;
	height: 23px;
}

.svg-fullscreen-dims {
	width: 24px;
	height: 23px;
}

.svg-padlock-close-dims {
	width: 15px;
	height: 18px;
}

.svg-padlock-open-dims {
	width: 15px;
	height: 18px;
}

.svg-pause-dims {
	width: 18px;
	height: 24px;
}

.svg-play-dims {
	width: 12px;
	height: 24px;
}

.svg-refresh-dims {
	width: 34px;
	height: 34px;
}

.svg-screenshot-dims {
	width: 25px;
	height: 24px;
}

.svg-search-dims {
	width: 25px;
	height: 24px;
}

.svg-subtitle-dims {
	width: 24px;
	height: 24px;
}

.svg-up-dims {
	width: 12px;
	height: 6px;
}

.svg-volume-off-dims {
	width: 24px;
	height: 22px;
}

.svg-volume-on-dims {
	width: 24px;
	height: 22px;
}

